/Users/android/moveapp/.DS_Store/
Users/android/moveapp/bin/
Users/android/moveapp/.project
*.class

*.class

*.class

bin/classes/com/example/moveapp/R$drawable.class

bin/classes/com/example/moveapp/MainActivity.class

bin/classes/com/example/moveapp/R$id.class

bin/classes/com/example/moveapp/R$layout.class

bin/classes/com/example/moveapp/R$menu.class

bin/classes/com/example/moveapp/R$string.class

bin/classes/com/example/moveapp/R$style.class

bin/classes/com/example/moveapp/R.class

bin/moveapp.apk
